body{
    background-image: linear-gradient(to right,#03001e,#7303c0, #ec38bc, #fdeff9 );
    color: white ;
}

header{
    font-size: 24px;
    text-align: center; 
    color:white;
}

hr{
    color: white;
    background-color: white;
}



#headImg{
    width: 20%; 
    margin-left: 40%; 
    margin-right: 50%;
}

